--
-- PostgreSQL database dump
--

\restrict ICbfI8f7lCRGwklgZAIH37qckg5jAwknfcCzB55ATE0OgjmXbpVzKkvAva4cfry

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_comments (
    id integer NOT NULL,
    event_id integer NOT NULL,
    project_id integer NOT NULL,
    author_id integer NOT NULL,
    author_name character varying(200),
    author_role character varying(20),
    body text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.activity_comments OWNER TO postgres;

--
-- Name: activity_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.activity_comments_id_seq OWNER TO postgres;

--
-- Name: activity_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_comments_id_seq OWNED BY public.activity_comments.id;


--
-- Name: bids; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bids (
    id integer NOT NULL,
    project_id integer NOT NULL,
    developer_id integer NOT NULL,
    amount integer NOT NULL,
    proposal text NOT NULL,
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bids OWNER TO postgres;

--
-- Name: bids_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bids_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bids_id_seq OWNER TO postgres;

--
-- Name: bids_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bids_id_seq OWNED BY public.bids.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    project_id integer NOT NULL,
    sender_id integer NOT NULL,
    receiver_id integer NOT NULL,
    body text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type character varying(60) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    meta jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: project_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_events (
    id integer NOT NULL,
    project_id integer NOT NULL,
    actor_id integer NOT NULL,
    event_type character varying(60) NOT NULL,
    meta jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    actor_name character varying(200),
    actor_role character varying(20),
    approval_status character varying(30) DEFAULT NULL::character varying,
    approval_feedback text,
    approved_at timestamp with time zone,
    CONSTRAINT project_events_approval_status_check CHECK (((approval_status IS NULL) OR ((approval_status)::text = ANY ((ARRAY['approved'::character varying, 'revision_requested'::character varying, 'resolved'::character varying])::text[]))))
);


ALTER TABLE public.project_events OWNER TO postgres;

--
-- Name: project_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_events_id_seq OWNER TO postgres;

--
-- Name: project_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_events_id_seq OWNED BY public.project_events.id;


--
-- Name: project_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_files (
    id integer NOT NULL,
    project_id integer,
    file_name text NOT NULL,
    "position" integer DEFAULT 0,
    uploaded_at timestamp without time zone DEFAULT now(),
    size bigint
);


ALTER TABLE public.project_files OWNER TO postgres;

--
-- Name: project_files_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_files_id_seq OWNER TO postgres;

--
-- Name: project_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_files_id_seq OWNED BY public.project_files.id;


--
-- Name: project_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_submissions (
    id integer NOT NULL,
    project_id integer,
    notes text,
    submitted_at timestamp without time zone DEFAULT now(),
    repo_link text,
    demo_link text
);


ALTER TABLE public.project_submissions OWNER TO postgres;

--
-- Name: project_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_submissions_id_seq OWNER TO postgres;

--
-- Name: project_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_submissions_id_seq OWNED BY public.project_submissions.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    title text,
    description text,
    min_budget integer,
    max_budget integer,
    due_date date,
    client_id integer,
    status text DEFAULT 'draft'::text,
    tags text[],
    assigned_developer_id integer,
    deliverable_link text,
    demo_link text,
    submission_note text,
    submitted_at timestamp without time zone,
    review_status text DEFAULT 'pending'::text,
    review_feedback text,
    reviewed_at timestamp with time zone
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.projects_id_seq OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: user_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_skills (
    id integer NOT NULL,
    user_id integer,
    skill text NOT NULL
);


ALTER TABLE public.user_skills OWNER TO postgres;

--
-- Name: user_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_skills_id_seq OWNER TO postgres;

--
-- Name: user_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_skills_id_seq OWNED BY public.user_skills.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name text,
    last_name text,
    username text,
    email text,
    password text,
    role text DEFAULT 'client'::text,
    email_verified boolean DEFAULT false,
    phone character varying(20),
    phone_verified boolean DEFAULT false,
    bio text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activity_comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_comments ALTER COLUMN id SET DEFAULT nextval('public.activity_comments_id_seq'::regclass);


--
-- Name: bids id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids ALTER COLUMN id SET DEFAULT nextval('public.bids_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: project_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_events ALTER COLUMN id SET DEFAULT nextval('public.project_events_id_seq'::regclass);


--
-- Name: project_files id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_files ALTER COLUMN id SET DEFAULT nextval('public.project_files_id_seq'::regclass);


--
-- Name: project_submissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_submissions ALTER COLUMN id SET DEFAULT nextval('public.project_submissions_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: user_skills id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills ALTER COLUMN id SET DEFAULT nextval('public.user_skills_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: activity_comments activity_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_comments
    ADD CONSTRAINT activity_comments_pkey PRIMARY KEY (id);


--
-- Name: bids bids_amount_positive; Type: CHECK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.bids
    ADD CONSTRAINT bids_amount_positive CHECK ((amount > 0)) NOT VALID;


--
-- Name: bids bids_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT bids_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: project_events project_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_events
    ADD CONSTRAINT project_events_pkey PRIMARY KEY (id);


--
-- Name: project_files project_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_files
    ADD CONSTRAINT project_files_pkey PRIMARY KEY (id);


--
-- Name: project_submissions project_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_submissions
    ADD CONSTRAINT project_submissions_pkey PRIMARY KEY (id);


--
-- Name: projects projects_budget_valid; Type: CHECK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.projects
    ADD CONSTRAINT projects_budget_valid CHECK (((min_budget IS NULL) OR (max_budget IS NULL) OR (min_budget <= max_budget))) NOT VALID;


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: bids unique_bid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT unique_bid UNIQUE (project_id, developer_id);


--
-- Name: user_skills user_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: activity_comments_event_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_comments_event_id_idx ON public.activity_comments USING btree (event_id);


--
-- Name: activity_comments_project_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_comments_project_id_idx ON public.activity_comments USING btree (project_id);


--
-- Name: bids_developer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bids_developer_id_idx ON public.bids USING btree (developer_id);


--
-- Name: bids_project_developer_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX bids_project_developer_unique_idx ON public.bids USING btree (project_id, developer_id);


--
-- Name: bids_project_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bids_project_id_idx ON public.bids USING btree (project_id);


--
-- Name: idx_assigned_dev; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assigned_dev ON public.projects USING btree (assigned_developer_id);


--
-- Name: idx_bids_developer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bids_developer ON public.bids USING btree (developer_id);


--
-- Name: idx_bids_project; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bids_project ON public.bids USING btree (project_id);


--
-- Name: messages_project_created_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX messages_project_created_idx ON public.messages USING btree (project_id, created_at);


--
-- Name: messages_project_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX messages_project_id_idx ON public.messages USING btree (project_id);


--
-- Name: messages_receiver_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX messages_receiver_id_idx ON public.messages USING btree (receiver_id);


--
-- Name: messages_sender_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX messages_sender_id_idx ON public.messages USING btree (sender_id);


--
-- Name: messages_unread_receiver_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX messages_unread_receiver_idx ON public.messages USING btree (receiver_id, is_read) WHERE (is_read = false);


--
-- Name: notifications_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_created_at_idx ON public.notifications USING btree (created_at DESC);


--
-- Name: notifications_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_id_idx ON public.notifications USING btree (user_id);


--
-- Name: notifications_user_unread_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_unread_idx ON public.notifications USING btree (user_id, is_read) WHERE (is_read = false);


--
-- Name: project_events_actor_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_events_actor_id_idx ON public.project_events USING btree (actor_id);


--
-- Name: project_events_approval_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_events_approval_idx ON public.project_events USING btree (project_id, approval_status) WHERE (approval_status IS NOT NULL);


--
-- Name: project_events_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_events_created_at_idx ON public.project_events USING btree (created_at DESC);


--
-- Name: project_events_project_created_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_events_project_created_idx ON public.project_events USING btree (project_id, created_at DESC);


--
-- Name: project_events_project_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_events_project_id_idx ON public.project_events USING btree (project_id);


--
-- Name: project_files_project_id_position_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_files_project_id_position_idx ON public.project_files USING btree (project_id, "position");


--
-- Name: project_files_project_position_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_files_project_position_idx ON public.project_files USING btree (project_id, "position");


--
-- Name: project_submissions_project_id_submitted_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_submissions_project_id_submitted_at_idx ON public.project_submissions USING btree (project_id, submitted_at DESC);


--
-- Name: project_submissions_project_time_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX project_submissions_project_time_idx ON public.project_submissions USING btree (project_id, submitted_at DESC);


--
-- Name: projects_assigned_developer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX projects_assigned_developer_id_idx ON public.projects USING btree (assigned_developer_id);


--
-- Name: projects_client_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX projects_client_id_idx ON public.projects USING btree (client_id);


--
-- Name: projects_due_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX projects_due_date_idx ON public.projects USING btree (due_date);


--
-- Name: projects_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX projects_status_idx ON public.projects USING btree (status);


--
-- Name: user_skills_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_skills_user_id_idx ON public.user_skills USING btree (user_id);


--
-- Name: user_skills_user_skill_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_skills_user_skill_unique_idx ON public.user_skills USING btree (user_id, lower(skill));


--
-- Name: users_email_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_unique_idx ON public.users USING btree (lower(email));


--
-- Name: users_username_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_unique_idx ON public.users USING btree (lower(username));


--
-- Name: activity_comments activity_comments_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_comments
    ADD CONSTRAINT activity_comments_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: activity_comments activity_comments_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_comments
    ADD CONSTRAINT activity_comments_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.project_events(id) ON DELETE CASCADE;


--
-- Name: activity_comments activity_comments_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_comments
    ADD CONSTRAINT activity_comments_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: bids bids_developer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT bids_developer_id_fkey FOREIGN KEY (developer_id) REFERENCES public.users(id);


--
-- Name: bids bids_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT bids_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: bids fk_developer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT fk_developer FOREIGN KEY (developer_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: bids fk_project; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bids
    ADD CONSTRAINT fk_project FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: messages messages_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: messages messages_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: project_events project_events_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_events
    ADD CONSTRAINT project_events_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: project_events project_events_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_events
    ADD CONSTRAINT project_events_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_files project_files_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_files
    ADD CONSTRAINT project_files_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_submissions project_submissions_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_submissions
    ADD CONSTRAINT project_submissions_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: projects projects_assigned_developer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_assigned_developer_id_fkey FOREIGN KEY (assigned_developer_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: projects projects_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: user_skills user_skills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_skills
    ADD CONSTRAINT user_skills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ICbfI8f7lCRGwklgZAIH37qckg5jAwknfcCzB55ATE0OgjmXbpVzKkvAva4cfry

